<div class="list-type my-3 mx-3 pt-4 text-center">
    {% if all_list %}
    <span class="text-center">WelCome Mr./Mrs. {{user|capfirst}} To Blog Home Page</span> {% endif %}
    {% if my_list %}
    <span class="text-center">WelCome Mr./Mrs. {{user|capfirst}} To Your Article Section </span> {% endif %}
    {% if fav_list %}
    <span class="text-center">WelCome Mr./Mrs. {{user|capfirst}} To Your Favourite Article Section</span> {% endif %}
    {% if followed_list %}
    <span class="text-center">WelCome Mr./Mrs. {{user|capfirst}} To Your Followed Article Section</span> {% endif %}
</div>

{% if object_list %}
<div class="pr-4" style="border: 1px solid rgba(15, 29, 37, 0.609);border-radius: 5px;
box-shadow: 1px 3px 4px gray;">
    {% include "includes/message-alert-snippet.html" %}
    <div class="row mt-4 mb-2" style="clear: both;margin-left: auto;">
        <div class="col col-lg-4 col-md-12 col-sm-12">
            <img class="ml-2" style="height: max-content;" src=" {% if object_list.0.thumbnail %}

            {{object_list.0.thumbnail.url}} {% else %} # {% endif %} " alt="No Thumbnail">
        </div>

        <div class="col col-lg-8 col-md-12 col-sm-12 mt-4">
            <div class="d-md-block">
                <a href="{{object_list.0.get_absolute_url}}">
                    <h1 style="color: rgb(72, 72, 185);font-size: larger;">{{object_list.0.title}}</h1>
                </a>
                Last Updated:<span class="text-muted mb-3"> {{object_list.0.last_updated|timesince}} ago</span>
                <p>{{object_list.0.content|slice:450}}</p>
                Published:<span class="text-muted"> {{object_list.0.last_updated|timesince}} ago</span>

            </div>

            <div class="row mt-2"
                style="border:1.5px solid rgb(88, 79, 85);background-image: linear-gradient(rgba(42, 238, 16, 0.356),rgba(204, 60, 34, 0.356),rgba(51, 192, 214, 0.356));">
                {% for img in object_list.0.assets.all|slice:4 %}
                <div class="col-lg-3 col-md-4 col-6 my-1">
                    <div class="img-responsive">
                        <img class="rotate-effect mfp-zoom"
                            src=" {% if img.file %} {{img.file.url}} {% else %} # {% endif %}" height="120px"
                            width="170px" alt="Missing">
                    </div>
                </div>
                {% endfor %}
            </div>

            <span class="mt-2" style="font-size: larger;float:right"><a
                    href="{{object_list.0.get_absolute_url}}">Continue
                    Reading...</a></span>
        </div>
    </div>

</div>

<hr class="my-2">
<div class="mt-5">
    <div class="col-lg-7 col-md-5 col-sm-12" style="float: left;">
        {% include "includes/article_update_alert.html" %} {% if messages %}
        <script>
            $("#updatestatus-modal").modal("show");
            setTimeout(() => {
                $("#updatestatus-modal").modal("hide");
            }, 5000);

        </script>
        {% endif %}
        <!-- start of list view -->

        <div class="container">
            <h4 class="display-5 text-muted text-center">Recent Articles</h4>
            <div class="row">
                {% for post in object_list %}
                <div class="col-lg-6 col-md-12 col-sm-12 my-2 article-list">
                    <div class="card article-body">
                        <a href="{{post.get_absolute_url}}">
                            <img class="card-img-top" style="border: 1px solid rgb(8, 12, 240);
                            border-bottom-color: rgb(248, 247, 247);"
                                src=" {% if post.thumbnail %} {{post.thumbnail.url}} {% else %} # {% endif %}"
                                height="300px" alt='Missing..'>
                        </a>

                        <div class="card-body px-3" style="padding-bottom: 5px;">
                            <h4 class="card-title text-center"><a href="{{post.get_absolute_url}}">{{post.title}}
                                </a><span><br>(<b>{{post.views_count}}</b>
                                    View{{post.views_count|pluralize}})</span>
                            </h4>
                            Related Categories: {% if post.category.all %} {% for cat in post.category.all %}
                            <a href="{{cat.get_absolute_url}}"><span
                                    class="display-5 text-info">{{cat.title}},</span></a> {% endfor %} {% else %}
                            <span class="display-5 text-info"> Not Assigned</span> {% endif %}

                            <p style="color: rgb(15, 14, 15); font-weight: bold;"> Posted by: <span
                                    class="follow-me-btn" postid="{{post.id}}" style="cursor: pointer;color:rgb(8, 12,
                                240)">@{{post.author.user.username|capfirst}}
                                    <div class="follow-me-div">
                                        {% include "includes/follow_me_snippet.html" %}
                                    </div>
                                </span>
                            </p>

                            <p style="color: rgb(128, 125, 125);font-size:
                            small;"><span style="color: rgb(14, 12, 14);font-weight: bold;">Last Updated:</span>
                                {{post.last_updated|timesince}} ago.
                            </p>
                            <p><span style="color: rgb(148, 134, 134);font-size:
                                small;"><span style="color: rgb(14, 12, 14);font-weight: bold;">Published:</span>
                                    {{post.pub_date|timesince}} ago
                                </span>
                            </p>
                            <p class="card-text text-center">{{post.content|slice:200|striptags}}...
                                <span class="mt-2 float-right"
                                    style="font-size: larger;float:right;font-weight: bold;"><a
                                        href="{{post.get_absolute_url}}">Continue
                                        Reading...</a>
                                </span>
                            </p>
                            <p>
                                <h6><span style="color: red;">Ratings:</span> [{{post.ratings}} out of 5]</h6><br>
                                <div class="fa-pull-left" id='like-section{{post.id}}' style="margin-bottom: 2%;">
                                    {% include "includes/like_section.html" %}
                                    <!-- <button>Like</button> -->
                                </div>

                                <!-- comment btn -->
                                <div class="fa-pull-left" style="margin-top:
                                7%;">
                                    <button style="margin-left: 140%;" class="commenthandler" id="comment{{post.id}}"
                                        onclick="$(`#comment_div{{post.id}}`).toggle('display');"
                                        article_id="{{post.id}}">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                    </button>
                                </div>


                                <!-- Share Section -->
                                <div class="fa-pull-left" style="margin-top:
                                7%;">
                                    <button style="margin-left: 405%;" id="share-btn" class="share-class"
                                        postid="{{post.id}}"><i class="fa fa-share" aria-hidden="true"></i>
                                    </button>
                                </div>
                                {% if request.user.is_authenticated %}
                                <div id="fav-div{{post.id}}" class="float-right mt-4 pt-1 pr-3">
                                    {% include "includes/toggle-fav-article-snippet.html" %}
                                </div>
                                {% endif %}

                                <!--FB comment display section -->
                                <div style="display: none;" id="comment_div{{post.id}}">
                                    <br><br>
                                    <p class="text-muted my-3">Have a Fb comment here.
                                    </p>
                                    <div class="fb-comments"
                                        data-href="https://lets-hookup.herokuapp.com/testapp/articles/{{post.slug}}"
                                        data-numposts="3" data-width="150px">
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}

        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="display-5 text-center text-info mx-3">
                    {% if followed_list %} Dear {{user.username}}! You have not followed any bloggers so far. <br>
                    <h3 class="badge badge-warning display-4 mb-2">Please follow bloggers to see their posts here! </h3>
                    <br>
                    <a href="{% url 'testapp:authors-list' %}">
                        <span class="display-5 text-primary">Click here to follow</span>
                    </a>
                    {% endif %}


                    {% if my_list %} Sorry folk you have not posted any Article so far!!! <br>
                    <h3 class="badge badge-warning display-4 mb-2">You can create your brand new Article here! </h3>
                    <br>
                    <a href="{% url 'testapp:article-create' %}">
                        <span class="display-5 text-primary">Click here to Create One</span>
                    </a>
                    {% endif %}


                    {% if fav_list %} Sorry folk you have not added any Post to your Fav-List so far!!! <br>
                    <h3 class="badge badge-warning display-4 mb-2">Go on surfing our blog and add posts to your
                        Fav-List.</h3> <br>
                    <a href="{% url 'testapp:article-list' %}">
                        <span class="display-5 text-primary">Click here to see Posts</span>
                    </a>
                    {% endif %}

                    <br>
                </h3>

            </div>
        </div>
        {% endif %}

        <div class="my-2">
            {% include "includes/pagination.html" %}
        </div>


        {% for post in object_list %} {% include "includes/share_article_snippet.html" %} {% endfor %}
        <!-- end of list view -->

        <!-- end of article list section and all -->
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 my-4" style="float: right;">
        <!-- ************Trending Posts SECTION ******** -->
        {% include "includes/trending_posts_component.html" %}

        <!-- ************WHO TO FOLLOW SECTION ******** -->
        {% include "includes/who-to-follow-component.html" %}


    </div>

</div>


<style>
    p {
        color: rgba(14, 12, 12, 0.822);
        font-family: 'Merienda', cursive;
    }

    .article-body {
        box-shadow: 2px 5px 6px;
    }

    .mr-1,
    .mx-1 {
        margin-right: 0.25rem !important;
    }

    .mx-1 {
        margin-left: -2.75rem !important;
    }

    @media (prefers-reduced-motion: no-preference) {
        .rotate-effect:hover {
            animation: rotate-effect-spin infinite 5s linear;
        }
    }

    @keyframes rotate-effect-spin {
        from {
            transform: rotate(0deg);
            /* transform: translateZ(5px); */
        }

        to {
            transform: rotate(360deg);
            /* transform: translateZ(-5px); */
        }
    }

    .list-type span {
        border: 1px solid rgb(145, 226, 145);
        box-shadow: 2px 3px 6px rgb(92, 88, 88);
        font-size: larger;
    }

    .list-type span:hover {
        transform: translateZ(5px);
        font-size: x-large;
    }

</style>
