<br><br>
<footer class="body-font mt-5 pt-4 clear" style="background-color: rgba(6, 40, 100, 0.63);">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="content-color title-font font-medium tracking-widest text-lg mb-3">Main Navigation</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a href="{% url 'testapp:related-article-list' %}"
                            class="content-color hover:text-gray-400">Followed Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'testapp:my-article-list' %}" class="content-color hover:text-gray-400">Your
                            Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'testapp:fav-article-list' %}" class="content-color hover:text-gray-400">My
                            Favourite</a>
                    </li>
                    <li>
                        <a href="{% url 'testapp:article-category-list' %}"
                            class="content-color hover:text-gray-400">Article Categories</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="content-color title-font font-medium tracking-widest text-lg mb-3">Profile</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a href="{{user_object.get_absolute_url}}" class="content-color hover:text-gray-400">My
                            Profile</a>
                    </li>
                    <li>
                        <a href="{{user_object.get_update_url}}" class="content-color hover:text-gray-400">Edit
                            Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:password-change' %}" class="content-color hover:text-gray-400">Change
                            Password</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:logout' %}" class="content-color hover:text-gray-400">Logout</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="content-color title-font font-medium tracking-widest text-lg mb-3">Policies</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a href="{% url 'about' %}" class="content-color hover:text-gray-400">About Us</a>
                    </li>

                    <li>
                        <a href="{% url 'contact' %}" class="content-color hover:text-gray-400">Contact Us</a>
                    </li>
                    <li>
                        <a href="#terms&condition" class="content-color hover:text-gray-400">Terms and Condtion</a>
                    </li>

                    <li>
                        <a href="#something" class="content-color hover:text-gray-400"></a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="content-color title-font font-medium tracking-widest text-md mb-3">NewsLetter</h2>
                <div
                    class="flex xl:flex-no-wrap md:flex-no-wrap lg:flex-wrap flex-wrap justify-center md:justify-start">
                    <input
                        class="w-40 sm:w-auto bg-gray-100 rounded xl:mr-4 lg:mr-0 sm:mr-4 mr-2 border border-gray-400 focus:outline-none focus:border-purple-500 text-base py-2 px-4"
                        placeholder="Your Email" type="email">
                    <button
                        class="float-right lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-purple-500 border-0 py-2 px-2 focus:outline-none hover:bg-purple-600 rounded">Subscribe</button>
                </div>

                <p class="content-color text-sm mt-2 md:text-left text-center">Don't LookUp! Let's HookUp!!
                    <br class="lg:block hidden">Hooking the world together
                </p>
            </div>
        </div>
    </div>
    <div class="bg-gray-300">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Lets-HookUp</span>
            </a>
            <p class="text-sm sm:ml-6 sm:mt-0 mt-4">© 2020 Lets-hookup —
                <a href="https://twitter.com/rajsahani1819" rel="noopener noreferrer" class=ml-1"
                    target="_blank">@RazzSawHoney</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class=">
                    <svg fill=" currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>

<style>
    .content-color {
        color: white;
        text-shadow: 1px .2px .4px solid rgba(72, 72, 206, 0.438);
    }

</style>
