<header class="header-section">

    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 149px;">
        <div class="header-sticky">
            <div class="header-middle">
                <div id="main-content" style="font-size: 14px;">
                    <section id="site-dashboard" class="site-stats">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a class="logo" href="#" aria-label="Go to home" rel="home">
                                        <img src="assets/images/emblem.png" alt="State Emblem of India">
                                        <div class="logo-text">
                                            <h1>Ministry of Health <br> and Family Welfare</h1>
                                            <strong>Government of India</strong>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <div class="site-stats-count">
                                        <ul>
                                            <li class="bg-blue">
                                                <strong>37916</strong>
                                                <span>Active Cases</span>
                                            </li>
                                            <li class="bg-green">
                                                <strong>16539</strong>
                                                <span class="mob-hide">Cured / Discharged </span>
                                                <span class="mob-show">Cured/ </span>
                                                <span class="mob-show">Discharged </span>
                                            </li>
                                            <li class="bg-red">
                                                <strong>1886</strong>
                                                <span>Deaths</span>
                                            </li>
                                            <li class="bg-orange">
                                                <strong>1</strong>
                                                <span>Migrated</span>
                                            </li>
                                        </ul>
                                        <div class="status-update">
                                            <h2>COVID-19 INDIA <span>as on : 08 May 2020, 08:00 IST (GMT+5:30)</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <!--site-stats-count-->
                                </div>
                                <!--col-xs-->
                            </div>
                            <!--row-->
                        </div>
                        <!--container-->
                    </section>
                </div>
            </div>
        </div>
    </div>


    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
