{% load static %}

<!-- CDN Version stylesheets -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">

<link rel="icon" href="https://www.pngitem.com/pimgs/m/69-693687_blog-icon-transparent-background-hd-png-download.png">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Merienda&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css3-animate-it/1.0.3/css/animations.css" />

<!-- Comment it Google font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
    rel="stylesheet">

<!-- Local static files -->

<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}' />
<link rel="stylesheet" href='{% static "css/slicknav.min.css" %}' />
<link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}' />
<!-- Main Stylesheets -->
<link rel="stylesheet" href='{% static "css/style.css" %}' />
{% if user_object.dark_mode %}

<link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">

{ % endif %}
