{% block pagination %}
{% load account_tags %}
{% if is_paginated %}
<div class="container">
    <span class="page-links">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link mypagin" onclick="turnPage(this)" url="{{ request.path }}?page={{ page_obj.previous_page_number }}"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                    <i class="fa fa-backward" aria-hidden="true"></i></a></li>
            {% endif %}
            {% for i in page_obj.paginator.num_pages|times %}
            <li class="page-item {% if request.GET.page == forloop.counter|stringformat:'s' %} active
            {% endif %}"><a class="page-link mypagin" onclick="turnPage(this)" url="{{ request.path }}?page={{forloop.counter}}"
                    href="{{ request.path }}?page={{forloop.counter}}">{{forloop.counter}}</a></li>

            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link mypagin"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                    <i class="fa fa-forward" aria-hidden="true"></i></a>
            </li>
            {% endif %}
        </ul>
    </span>
</div>
{% endif %}

<style>
    .mypagin:hover {
        background-color: rgb(28, 240, 21);
        font-size: larger;
    }

    .mypagin {
        box-shadow: 3px 3px 6px rgb(45, 228, 188);
        margin-bottom: 7px;
    }

</style>
{% endblock %}
