<form action="{{post.get_fav_article_url}}" fav_btn="add2fav{{post.id}}" class="add-remove-fav" method="post">
    {% csrf_token %}
    <button class="fav_btn" post-id="{{post.id}}" id="add2fav{{post.id}}" url="{{post.get_fav_article_url}}">
        {% if post in user_object.favourites.all  %}<i class="fa fa-heart text-danger" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-heart-o" aria-hidden="true"></i>

        {% endif %}
    </button>
</form>
<style>
    #add2fav {
        box-shadow: 2px 4px 7px gray;
    }

    #add2fav:hover {
        transform: translateZ(5px);
        transform: scale(1.3);
    }

</style>
