<h3 class="mt-5 text-info text-center mb-1">Who To Follow?</h3>
<div class="card mb-2">
    {% for author in who_to_follow %}
    <div class="card-body" style="border:1px solid rgb(60, 168, 218);">
        <div class="row">
            <div class="col col-4">
                <img src="{% if author.profile_pic %} {{author.profile_pic.url}} {% else %}# {% endif %}" style="width:100px;height: 100px; border-radius:
                50%;box-shadow: 1px 2px 3px rgb(230, 17, 17);" alt="No profile Pic">
                <span class="card-title"><a href="{{author.get_absolute_url}}" style="box-shadow:1px 2px 3px rgb(223, 59,
                    30);margin-top: 5%; font-style: oblique;">
                        @{{author.user.username|capfirst}}</a>
                </span>
            </div>

            <div class="col col-8">
                {% if user.is_authenticated %}
                <form action="." userid="{{author.id}}" class="follow-profile" method="post">
                    {% csrf_token %}
                    <button type="submit" id="follow-my-btn{{author.id}}" class="btn-sm" style="background-color: rgb(218, 30,
                    171);color: white; box-shadow:2px 1px 10px 3px
                    rgb(30, 49, 223);margin-top: 4%;margin-left:20%;
                    border-top-left-radius:
                    15px;border-top-right-radius:
                    15px;border-bottom-left-radius:
                    15px;border-bottom-right-radius:
                    15px;border-bottom-style:solid;">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        Follow
                    </button>
                </form>
                {% else %}
                <a style="color:white;cursor: pointer;" class="btn-sm btn-primary"
                    onclick="$('#login-modal').modal('toggle')" style="color: white;"> Login to
                    Follow
                </a>
                {% include "accounts/includes/login_popup.html" %}
                {% endif %}
                <h6 class="card-subtitle my-2">{{author.qualifications|slice:44}}</h6>
                <p class="card-text text-muted">{{author.about_me|slice:100}}
                    <a href="{{author.get_absolute_url}}"><span style="color:rgb(122, 122, 204);cursor:
                        pointer;">...Read
                            More</span></a> </p>
            </div>

        </div>
    </div>
    <hr>
    {% endfor %}
</div>
