body,
.container-fluid,
.jumbotron,
.row {
    background-color: rgb(21, 32, 43);
    color: #8D99AE;
    font-family: Georgia, "Times New Roman", Times, serif;

}

.modal-content {
    background-image: url('https://lets-hookup.herokuapp.com/static/images/modal-bg.jpg') !important;
    color: #8D99AE;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fa,
span,
span._5mdd,
th,
td {
    color: #8D99AE !important;
}

.fb-comments {
    color: #8D99AE !important;
}

.input-select,
.input {
    background: rgb(21, 32, 43) !important;
    color: #8D99AE !important;
    box-shadow: inset 0px 1px 19px;
}

.dropdown-menu {
    background-image: url('https://lets-hookup.herokuapp.com/static/images/modal-bg.jpg') !important;
    color: #8D99AE;
    box-shadow: inset 0px 0px 14px;
}


.mynav {
    background-image: url('https://lets-hookup.herokuapp.com/static/images/modal-bg.jpg') !important;
    color: #8D99AE !important;
    box-shadow: inset 1px 0px 17px;

}

.fb-comments {
    background: azure;
}

.invalid-feedback {
    color: red !important;
}

.navbar-nav .nav-link {
    color: #8D99AE !important;
}

.fa-heart {
    color: red !important;
}


p {
    background: rgb(21, 32, 43) !important;
    color: #8D99AE !important;
    font-family: 'Merienda', cursive !important;
}

.card {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid currentColor;
    box-shadow: -2px -2px 13p;
}

.footer {
    background-color: rgba(28, 45, 63, 0.637) !important;
}

.footer-bottom {
    background-color: rgb(21, 32, 43) !important;
}

.myclass {
    background: rgb(21, 32, 43) !important;
    color: #8D99AE !important;
}