{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'product:product_list' %}">{% trans 'Home' %}</a></div>
{% endblock %}

{% block bodyblock %}

<div class="container">
    <p style="display: -moz-popup;font-size: larger;">{% trans "Thanks for spending your quality time on this plateform today!" %}</p>
    <a href="{% url 'accounts:login' %}"><button class="btn btn-primary btn-md">{% trans 'Log in again' %}</button></a>
</div>
{% endblock %}
