{% extends "base.html" %}
{% load static %}
{% block bodyblock %}

<div class='container'>
    {% if reset %}
    <h4 class="display-4 text-center text-muted">Congratulations! Password Reset successfully Done. <br>Now login with the new User Password!</h4>
    <a href="{% url 'accounts:login' %}">
        <h4>Login Here</h4>
    </a>
    {% else %}
    <h3 class="display-5 text-center text-muted">Password Reset Form</h3>
    <form class='site-form' action="{% url 'accounts:change-reset' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-lg btn-primary" type="Reset">
    </form>

    {% endif %}

</div>

<style>
    li {
        padding: 5px;
        color: grey;
        display: list-item;
        text-align: -webkit-match-parent;

    }

    .helptext {
        color: orange;
        margin: 2px;
        padding: 2px;
        text-shadow: 2px;
    }

    .btn-primary {
        margin-bottom: 8px;
        box-shadow: 1px 3px 3px 1px black;
    }

</style>

{% endblock %}
