{% extends "base.html" %}
{% load static %}
{% block title %}
<title>User Password Change Page</title>
{% endblock  %}
{% block bodyblock %}

<div class='container'>
    {% if changed %}
    <h1>Congratulations! Password successfully changed. <br>Now login with the new User Password!</h1>
    <a href="{% url 'accounts:login' %}">
        <h4>Login Here</h4>
    </a>
    {% else %}
    <h3 class=" display-5 text-center text-muted">Password Change Form</h3>
    <hr>
    <form class='site-form' action="{% url 'accounts:password-change' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-lg btn-primary" type="submit" value="Change Password">
    </form>

    {% endif %}

</div>

<style>
    li {
        padding: 5px;
        color: orangered;
        display: list-item;
        text-align: -webkit-match-parent;

    }

    .helptext {
        color: orange;
        margin: 2px;
        padding: 2px;
        text-shadow: 2px;
    }

    .btn-primary {
        margin-bottom: 8px;
        box-shadow: 1px 3px 3px 1px black;
    }

</style>

{% endblock %}
