{% extends "base.html" %}
{% load static %}
{% block titile %}
<title>Sign Up Page</title>
{% endblock  %}
{% block bodyblock %}

<div class='container'>
    <h1 class="text-primary">Sign Up Form:</h1>
    <br>
    <form class='site-form' enctype="multipart/form-data" action="{% url 'accounts:signup' %}" method="post">
        <div class="form-group-sm">
            {% csrf_token %}
            {{user_form.as_p}}
            {{user_profile_form.as_p}}
            <input class="btn btn-sm btn-primary btn-block" type="submit" value='Register'>
        </div>
    </form>

</div>

<style>
    li {
        padding: 5px;
        color: grey;
        display: list-item;
        text-align: -webkit-match-parent;

    }

    .helptext {
        color: orange;
        margin: 2px;
        padding: 2px;
        text-shadow: 2px;
    }

    .btn-primary {
        margin-bottom: 8px;
        box-shadow: 1px 3px 3px 1px black;
    }

</style>

{% endblock %}
