{% extends "base.html" %} {% load static %}
{% block title %}
<title>{{post.title|capfirst}}</title>
{% endblock  %}

{% block bodyblock %}
<div class="delete-div">
    {% include "includes/delete_confirm_prompt.html" %}
</div>

<div class="mt-5 pt-2">
    <span style="font-size: x-large;">Title: {{post.title}}</span>
    <h6>
        <span style="color: red;">Ratings:</span> [{{post.ratings}} out of 5] <span>(<b>{{post.views_count}}</b>
            View{{post.views_count|pluralize}})</span>
    </h6>

    {% if request.user == post.author.user %}
    <button style="font-size: x-large; float:right" class="imp-btn mx-2 badge badge-danger delete-post-btn"
        post-id="{{post.id}}">Delete
        Post
    </button>

    <a style="font-size: x-large; float:right" href="{{post.get_update_url}}"
        class="imp-btn btn badge badge-success">Edit
        Post
    </a>
    {% endif %}

    <p>Published On: {{post.pub_date}}</p>
    <p>Last Updated: {{post.last_updated|timesince}} ago.</p>
</div>

<!-- Gallary show section -->
<div class="gallary-section">
    <h3 class="display-5 text-muted mb-2"
        style="box-shadow: 2px 3px 5px rgb(218, 30, 171);justify-content:center;text-align: center;">Article Contents
    </h3>

    <div class="row"
        style="background-image:linear-gradient(rgba(30, 255, 16, -5.644),rgba(-18, 12, 255, 0.556),rgba(120, 77, 255, 19.356),rgba(12, 220, 255, 3.356)),url({{post.thumbnail.url}});background-repeat: no-repeat;background-size: cover; background-blend-mode: darken;">
        {% for img in post.assets.all %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="{% if img %} {{img.get_absolute_url}} {% else %} # {% endif %}">
                <img src="{{img.file.url}}" class="my-1 img-pop rotate-effect" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    p {
        color: inherit;
        font-family: 'Merienda', cursive;
    }

    .gallary-section {
        box-shadow: 3px 5px 15px rgb(42, 175, 236);
        justify-content: center;
        border-radius: 4px;
    }

    .img-pop {
        height: 180px;
        width: 350px;
        box-shadow: 1px 4px 7px rgb(42, 213, 236);
    }


    .textarea:focus {
        cursor: vertical-text;
    }

    .textarea::spelling-error {
        color: rgb(219, 35, 11);
    }

    .textarea::grammar-error {
        color: rgb(228, 228, 38);
        text-decoration: underline wavy blueviolet;
    }

    .textarea {
        padding: 10px 2px;
        margin-right: 20px;
        color: black;
    }

    .reply-div textarea::-webkit-input-placeholder::after {
        color: #666;
        content: "Line 1\A Line 2\A Line 3\A";
    }

    .imp-btn {
        box-shadow: 1px 5px 7px rgb(138, 135, 135);
        border: .5px solid white;
    }

    .imp-btn:hover {
        transform: translate3d(6px, 10px, 4px);
    }

    @media (prefers-reduced-motion: no-preference) {
        .rotate-effect:hover {
            animation: rotate-effect-spin infinite 5s linear;
        }
    }

    @keyframes rotate-effect-spin {
        from {
            transform: rotate(0deg);
            /* transform: translateZ(5px); */
        }

        to {
            transform: rotate(360deg);
            /* transform: translateZ(-5px); */
        }
    }

    @media screen and (min-width: 768px) {
        #main-content {
            overflow: scroll;
            height: 150vh;
            scroll-behavior: smooth;
            scroll-margin-left: 10px;
            scroll-margin-top: 20px;
            -ms-overflow-style: none !important;
            box-shadow: 1px 0px 12px;
        }
    }

    #main-content::-webkit-scrollbar {
        display: none;
    }

</style>



<!-- Article Description section   -->
<div class="row my-4">
    <h4 class="display-5 text-muted mb-3 ml-3">Hey there! I am {{post.author.user.username|capfirst}} in your
        service.
    </h4>
    <hr>
    <div class="col col-lg-8 col-md-6 col-sm-12 my-3">
        <div class="intro-text" id='main-content'>
            <span class="pt-2">{{post.content|safe}}</span>

        </div>
        <div class="mt-4">
            <a href="{% if object %}
                        {{object.get_absolute_url}} {% else %}#{% endif %}" class="sp-link text-primary">Take a
                look @my
                portfolio
            </a>
        </div>
        <div style="float: right;" class="intro-text mt-3">
            {% if request.user.is_authenticated %}
            Favourite Button:
            <div id="fav-div{{post.id}}">
                {% include "includes/toggle-fav-article-snippet.html" %}
            </div>
            {% endif %}
            <br><br>
            <span class="sp-link">Share Article:</span>

            <button class="btn btn-md"
                onclick="shareArticle(`https://www.facebook.com/sharer/sharer.php?u=https://lets-hookup.herokuapp.com/testapp/article/detail/{{post.slug}}/`)"><i
                    style="color: rgb(20, 20, 189);" class="fa fa-facebook" aria-hidden="true">
                    Facebook</i></button>
            <button class="btn btn-md"
                onclick="shareArticle(`http://twitter.com/share?text={{post.title}}&url=https://lets-hookup.herokuapp.com/testapp/article/detail/{{post.slug}}/&hashtags=best_article,knowledgeable,useful,`)"><i
                    style="color: rgb(20, 20, 189);" class="fa fa-twitter" aria-hidden="true">
                    Twitter</i></button>
            <button class="btn btn-md"
                onclick="shareArticle(`https://www.linkedin.com/shareArticle?mini=true&url=https://lets-hookup.herokuapp.com/testapp/article/detail/{{post.slug}}/&title={{post.title}}&summary={{post.content|slice:200}}&source=Lets-HookUp`)"><i
                    style="color: rgb(20, 20, 189);" class="fa fa-linkedin" aria-hidden="true">
                    LinkedIn</i></button>
        </div>
        <br><br>


        <div class="my-5 comment_div" id="reply_comment_div{{post.id}}">
            {% include "includes/comment_section.html" %}
        </div>
        <div class="related-post">
            <h3 class="mt-5 text-info text-center mb-1">Similar Articles</h3>
            <div class="row">
                {% for rpost in related_posts %}
                <div class="col-sm-6 col-lg-4 col-md-4 mb-2 mr-1" style="box-shadow: 0px 0px 1px;">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{rpost.get_absolute_url}}"><h5 class="card-title text-white">{{rpost.title}}</h5></a>
                            <span>By: {{rpost.author.user.username|capfirst}}</span>
                            <p class="card-text">{{rpost.content|slice:120|striptags}}</p>
                            <a href="{{rpost.get_absolute_url}}" class="float-right text-info btn">Continue Reading</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>


    </div>

    <div class="col col-lg-4 col-md-6 col-sm-12 my-3">

        <!-- About Me Section -->
        <div class="card">
            <h3 class="my-8 text-info text-center mb-2">About Me</h3>
            <a href="{{post.author.get_absolute_url}}"><img
                    src="{% if post.author.profile_pic %}{{post.author.profile_pic.url}} {% else %} # {% endif %}"
                    alt="Profile-pic" style="margin-left: 16%;height: 130px; width: 70%;">
            </a>
            <a href="{{post.author.get_absolute_url}}">
                <h4 style="text-align: center;">{{post.author.user.username|capfirst}}</h4>
            </a>
            <p class="title mt-2 pt-1 text-center">{{post.author.qualifications|safe}}</p>
            <!-- Custom filter used here -->
            <p class="text-center text-warning">Blogger At Lets-HookUp.com</p>
        </div>

        <!-- End of about me section -->

        <!-- **********Trending Posts SECTION************ -->
        {% include "includes/trending_posts_component.html" %}


        <!-- **********WHO TO FOLLOW SECTION************ -->
        {% include "includes/who-to-follow-component.html" %}


    </div>
</div>
{% endblock %}

{% block js %}
<!--====== Javascripts & Jquery ======-->
<script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/jquery.slicknav.min.js" %}'></script>
<script src='{% static "js/owl.carousel.min.js" %}'></script>
<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
<script src='{% static "js/circle-progress.min.js" %}'></script>
<script src='{% static "js/mixitup.min.js" %}'></script>
<script src='{% static "js/instafeed.min.js" %}'></script>
<script src='{% static "js/masonry.pkgd.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>


{% endblock  %}
