{% extends "base.html" %} {% load static %}

{% block bodyblock %}
{% load crispy_forms_tags %}
{% block titile %}
<title>Edit Article</title>
{% endblock  %}
<div class="mt-2 pl-2 myclass">
    <div id="alert-area">
        {% include "includes/article_update_alert.html" %}
    </div>
    <h3 class="display-6 text-muted text-center mt-4">Update Your Article Here...</h3>

    <form class="updateform" action='.' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class='btn btn-md btn-primary btn-block' value=' Update'>
    </form>
    <div class="File-Upload float-right">
        <button id="upload-file" style="margin-top:5px; margin-bottom: 10px;"
            class="btn btn-lg btn-outline-success float-left">Upload
            More Files Here</button>
    </div>

    {% include "includes/file_upload_snippet.html" %}


</div>


<style>
    .myclass {
        background-color: azure;
        color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>


{% block javascript %}
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/file_upload/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/file_upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/file_upload/jquery.fileupload.js' %}"></script>

{# PHOTOS PAGE SCRIPTS #}
<script src="{% static 'photos/js/progress-bar-upload.js' %}"></script>
{% endblock %}
{% endblock %}
