<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="twitter:image" content="{% static 'images/HookUp.png' %}">
        <meta property="og:image" content="{% static 'images/HookUp.png' %}">
        <meta name="google-site-verification" content="TUP7RVM6t_kWKtU1EiJ1uDm8LROfW6CxqumMv4P-udc" />

        {% block title %}
        <title>HomePage</title>
        {% endblock  %}


        {% include "includes/loadstaticfiles.html" %}

    </head>

    <body class="jumbotron jumbotron-fluid ">
        <nav class="navbar navbar-expand-sm navbar-dark mynav fixed-top">
            <a class="navbar-brand list-view-trigger" method='post' href="{% url 'testapp:article-list' %}"><i
                    class="App-logo" style="color: rgba(42, 220, 226, 0.767);">Let's HookUp</i>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="background: none !important;">
                    <li class="nav-item {% if 'testapp/articles/' in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'testapp:article-list' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'followed/articles/' in request.path %} active {% endif %}">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'testapp:related-article-list' %}">Posts You Follow
                        </a>
                        {% else %}

                        <a class="nav-link" href="{% url 'testapp:article-list' %}"><i class="fa fa-newspaper-o"
                                aria-hidden="true"></i> All
                            Posts
                        </a>

                        {% endif %}
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item {% if '/articles/category' in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'testapp:article-category-list' %}">Blog Categories
                        </a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Profile</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'testapp:article-create' %}"><i
                                    class="opt fa fa-paper-plane" aria-hidden="true"> New post</i>
                            </a>
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'testapp:category-create' %}"><i
                                    class="opt fa fa-hashtag" aria-hidden="true"> Add a Blog Category</i>
                            </a>
                            {% endif %}

                            <a class="dropdown-item" href="{% url 'testapp:my-article-list' %}"><i
                                    class="opt fa fa-hacker-news" aria-hidden="true"> My posts</i>
                            </a>


                            <a class="dropdown-item" href="{% url 'testapp:fav-article-list' %}"><i
                                    class="opt fa fa-heart-o" aria-hidden="true"> My Favourites</i>
                            </a>


                            <a class="dropdown-item" href="{{user_object.get_absolute_url}}"><i class="opt fa fa-user"
                                    aria-hidden="true"> My Profile</i>
                            </a>
                            <a class="dropdown-item" href="{% url 'accounts:password-change' %}"><i
                                    class="opt fa fa-pencil" aria-hidden="true"> Change Password</i>
                            </a>
                            <a class="dropdown-item" href="{{user_object.get_update_url}}">
                                <i class="opt fa fa-pencil-square-o" aria-hidden="true"> Edit Profile</i>
                            </a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                <i class="opt fa fa-sign-out" aria-hidden="true">Logout</i>
                            </a>
                        </div>
                    </li>

                    <li>
                        {% include "includes/logined_as_snippet.html" %}
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" onclick="$('#signup-modal').modal('toggle')"
                            method="post">SignUp</a>
                    </li>
                    {% include "accounts/includes/signup_popup.html" %}

                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;"
                            onclick="$('#login-modal').modal('toggle')">Login</a>
                    </li>
                    {% include "accounts/includes/login_popup.html" %}

                    {% endif %}

                    <li>
                        <a class="nav-link float-right" style="cursor: pointer;" id='mode-toggler'
                            onclick="toggle_mode();">
                            {% if not request.session.dark_mode %}
                            <i class="fa fa-2x fa-globe" aria-hidden="true"></i>
                            <span style="font-size: large;">
                                Enable Dark Mode
                            </span>
                            {% else %}
                            <i class="fa fa-2x fa-globe" aria-hidden="true"></i> <span style="font-size: large;">
                                Enable Light Mode
                            </span>
                            {% endif %}
                            </span>

                        </a>
                    </li>


                </ul>




                <form action="{% url 'search:result_list' %}" class="form-inline my-2 my-lg-0">
                    <div class="form-group">
                        <select name="search_by" class="form-control" style="border-radius: 20px 0px 0px 20px;">
                            <option>Search By</option>
                            <option {% if request.GET.search_by == 'Author' %} selected {% endif %}>Author</option>
                            <option {% if request.GET.search_by == 'Category' %} selected {% endif %}>Category</option>
                            <option {% if request.GET.search_by == 'Article Tags' %} selected {% endif %}>Article Tags
                            </option>
                        </select>
                    </div>

                    <input class="form-control mr-sm-2" value="{{request.GET.q}}" id="myInput" name="q" type="text"
                        placeholder="Search" style="border-radius: 0px 20px 20px 0px;" />
                    <button class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 20px" type="submit">
                        Search
                    </button>
                </form>

            </div>
        </nav>

        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myDiv *").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });
            });

        </script>

        <div class="container-fluid pt-4 px-4 mt-2">
            {% block bodyblock %}
            {% endblock  %}
        </div>


        <!-- Footer Section -->

        <!-- ********Scripts sections ********** -->

        <div id="fb-root"></div>



        {% include "includes/footer.html" %}

        {% include "includes/loadscripts.html" %}
        <a onclick="scroll2top();" id="scroll2top" class="float" style="display: none; cursor: pointer;">
            <img src="{% static "images/top.png" %}" class="my-float" alt="Missing">
        </a>
    </body>

</html>



<style>
    body {
        margin: 0px;
        padding: 0px;
        text-align: justify;
    }


    html {
        scroll-behavior: smooth;
    }

    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #0C9;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float {
        margin-top: 22px;
        height: 20px;
        width: 25px;
        align-self: center;
        margin-left: 16px;
    }

    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 8s linear;
        }
    }



    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .opt:hover {
        color: white;
        font-size: larger;
    }

    .opt:active {
        color: red;
    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 20;
        width: 100%;
    }

    .sticky+.content {
        padding-top: 60px;
    }

    .mynav a:hover {
        background-color: rgba(118, 113, 189, 0.657);
        font-size: larger;
    }

    .mynav {
        text-align: center;
    }

    .modal-content {
        box-shadow: inset 0px 3px 12px;
    }

</style>
