{% extends "base.html" %}
{% block titile %}
<title>Gallery Show</title>
{% endblock  %}

{% block bodyblock %}

<div class="container mt-5">
    <div class="card mt-2">
        <img class="card-img-top" src="{{gallery_obj.file.url}}" alt="img">
        <span style="float: right;font-size: small;color:blue;text-align: center;margin-top: 5px;">Photo Capt:
            {{gallery_obj.file.name}}</span>
        <div class="card-body">
            <h5 class="card-title">{{gallery_obj.article}}</h5>
            <p class="card-text">{{gallery_obj.article.content|linebreaks|slice:"200:700"}}</p>
        </div>
    </div>
</div>

{% endblock %}
