{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="signup-modal" tabindex="-1" role="dialog"
    aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Registration Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='container'>
                    {% if registered %}
                    <h1>Congratulations! You are successfully registered...</h1>
                    {% endif %}
                    {% if not registered %}
                    <h4 class="text-muted"><sup>*</sup> Fill the form with correct details</h4>
                    <form class='site-form' enctype="multipart/form-data" action="{% url 'accounts:signup' %}"
                        method="post">
                        {% csrf_token %}
                        {{user_form|crispy}}
                        {{user_profile_form|crispy}}
                        <button class="btn btn-lg btn-primary" id='signup-pop-btn' type="submit">Sign up</button>
                    </form>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">
                        <h4>Login Here</h4>
                    </a>
                    {% endif %}

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Never Mind</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).on('click', '#signup-pop-btn', function (evn) {
        $(this).html(
            '<span class="spinner-border spinner-border-sm" role="status"></span> <span class="light">Registering...</span>'
            )
    });

</script>